body{
    background-color: rgba(1, 89, 172, 0.993);
    height: 90vh;
}

body{
    background-color: rgba(1, 89, 172, 0.993);
    height: 90vh;
}


input{
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

button{
    cursor: pointer;
    margin-top: 5px;
}


